
  <body>>
    <%- include('_navbar') %>
    <style>

      section .navbar-link {
        display: flex;
        font-size: 15px;
      }
      section .navbar-link .link {
        padding-bottom: 15px;
      }
      section .navbar-link .search {
        display: flex;
        font-size: 15px;
        margin-left: 40rem;
        padding-bottom: 15px;
      }
      section .navbar-link .search .sort {
        position: relative;
        display: flex;
      }
      section .navbar-link .sort .sort-item label {
        text-transform: none;
      }
      section .navbar-link .sort {
        gap: 7px;
      }
      section .navbar-link .sort form {
        position: relative;
        display: flex;
        margin-left: 86px;
        gap: 4px;
        padding-bottom: 15px;
      }

      .heading{
        color: black;
        text-align: center;
        text-transform: uppercase;
        margin-top: 40px;
        padding-bottom: 3.5rem;
        font-size: 4rem;
      }

      .heading span{
        color: var(--border);
        text-transform: uppercase;
      }

      .item .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;
      }

      .item .box-container .box {
        text-align: center;
        border: var(--bg);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }

      .item .box-container .box .image img {
        height: 20rem;
        width: 100%;
      }

      .item .box-container .box .content h6 {
        color: var(--black);
        font-size: 1.5rem;
        margin-top: 5px;
      }

      .item .box-container .box .content .status {
        color: #6f6f6f;
        font-weight: bold;
      }

      .item .box-container .box .content .contacts {
        padding: 0.5rem;
        color: var(--black);
        text-align: left;
        margin-left: 15px;
        text-transform: none;
      }

      .item .box-container .box .button {
        padding: 1rem;
      }
    </style>
  </section>
    <!-- item section start-->
    <section class="item" id="item">
      <div class="heading">
        <h1 class="heading">Product</h1>
      </div>
      <% if (product) { %>
        <p style="color: red; text-align: center;"><%= product %> is deleted</p>
      <% } %>
      <div>
        <a style="margin-bottom: 5px;" href="/admins/transaction" class="btn btn-warning">Transaction</a>
      </div>
      <div class="navbar-link">
        <div class="link">
          <a href="/admins/add" class="btn btn-warning">Add Product</a>
          <a href="/admins/empty" class="btn btn-warning">Empty Product</a>
        </div>
        <div class="search">
          <div class="sort">
            <div class="sort-item">
              <form action="/admins" method="get">
                <label for="">Sort by: </label>
                <button onclick="this.form.submit()" name="sortByName" id="sortByName" value="name" type="submit" class="btn">
                  Name
                </button>
                <button onclick="this.form.submit()" name="sortByPrice" id="sortByPrice" value="harga" type="submit" class="btn">
                  Price
                </button>
              </form>
            </div>
            <div class="filter-education">
              <form action="/admins" method="get">
                <select class="form-control" name="filterByCategory" id="filterByCategory value">
                  <option disabled selected>Filter by Brand</option>
                  <% ["Laptops", "Headsets", "Action figure"].forEach((el, index) => { %>
                  <option value="<%= index + 1 %>"><%= el %></option>
                  <% }) %>
                </select>
                <button onclick="this.form.submit()" type="submit" class="btn">Filter</button>
              </form>
            </div>
          </div>
        </div>
      </div>

        <div class="box-container">
          <% admins.forEach(el => { %>
          <div class="box">
            <div class="image">
              <img src="<%= el.imgUrl  %>" alt="" />
            </div>
            <div class="content">
              <div class="status">
                <h4><%= el.name %></h4>
                <p class="position"><%= convertToRupiah(el.price) %></p>
                <p class="education">(<%= el.stock %>)</p>
              </div>
              <div class="button">
                <a href="/admins/<%= el.id %>/delete" class="btn">Delete</a>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </section>
    <!-- item section end -->
  </body>

